<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cssLogin.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-L">Entrar</button>
        <button type="" class="button-L"><a href="{%url 'index'%}" >Registrar</a></button>
    </form>
  
</body>
</html>