<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>

    <body>
        <!-- nabvaer y carusel -->
        <header>
    
            <!-- inicio de nadvar -->
            <div class="menu container" id="inicio">
                    
                    <input type="checkbox"  id="menu">
                    <label for="menu">
                        <img  src="{% static 'img/menu.png'%}" class="menu-icono" alt="">
                    </label>
                    <nav class="navbar">
                        <div class="menu-1">
                            <ul>
                                <li> <a href="#inicio">Inicio</a></li>
                                <li><a href="#somos">Quienes somos</a></li>
                                
                                <!-- carro de compras -->
                                <li class="submenu carrito" >
                                    <img src="{% static 'img/cart-add-regular-48.png'%}"  alt="">
                                    <div id="carrito">
                                        <table id="lista-carrito">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <a href="#" id="vaciar-carrito" class="btn-3">Vaciar Carrito</a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <img class="logo-2" src="{% static 'img//LOGOSQLZO.png'%}" height="100px" alt="">
                        <div class="menu-2">
                            <ul>
                                <li><a href="login.html">iniciar sesion</a></li>
                            </ul>
                            <div class="socials">
                             
                           
                                <a href="https://twitter.com/digitalesps93">
                                    <div class="social">
                                        <img src="{% static 'img/s2.svg'%}" alt="">
                                    </div>
                                </a>
    
                            </div>
                        </div>
                    </nav>
                    
            </div>  
        </header>

        <div style="margin-top:10%; text-align: center; color: aliceblue;">
            <h1>Juegos Disponibles:</h1><br>
        </div>
            <div class="card-container">
                
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/gta1.jpeg'%}" class="img" alt="">
                    <span> Grand Theft Auto V</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/DOOM.jpg'%}" class="img" alt="">
                    <span> DOOM Eternal</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/ELDEN.jpg'%}" class="img" alt="">
                    <span> ELDEN RING</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
            </div>
            <div class="card-container">
                
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/EAFC.webp'%}" class="img" alt="">
                    <span> EA SPORTS FC™ 24</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/STREET.avif'%}" class="img" alt="">
                    <span> Street Fighter™ 6</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/GOD.webp'%}" class="img" alt="">
                    <span> God of War Ragnarök</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
            </div>
            <div class="card-container">
                
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/sonic.avif'%}" class="img" alt="">
                    <span> SONIC SUPERSTARS</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/HEAT.jpg'%}" class="img" alt="">
                    <span> Need for Speed™ Heat</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/DIABLO.jpg'%}" class="img" alt="">
                    <span> Diablo® IV</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
            </div>
            <div class="card-container">
                
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/STREET.avif'%}" class="img" alt="">
                    <span> ARK: Survival Ascended</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/STREET.avif'%}" class="img" alt="">
                    <span> WWE 2K24</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
                <div class="card-1">
                    <div class="card-border-top">
                    </div>
                    <img src="{% static 'img/STREET.avif'%}" class="img" alt="">
                    <span> F1® 23</span>
                    <p class="job"> Categoria</p>
                    <button> Agregar Carrito
                    </button>
                </div>
            </div>
        

    
        <!-- donde va el mapa -->
        
    
        <!-- distintos menus -->
        <footer class="footer  horario">
            
                <div class="horario-info container">
                    <h2>informacion</h2>
                    <div class="horario-txt">
                        <div class="txt">
                            <h4>direccion</h4>
                            <p>Agustinas 676</p>
                            <p>santiago centro</p>
                        </div>
                        <div class="txt">
                            <h4>telefono</h4>
                            <p>+569 3847 5938</p>
                            <p>2 2620 6179</p>
                        </div>
                        <div class="txt">
                            <h4>redes sociales</h4>
                            <div class="socials">
                                <a href="https://web.facebook.com/groups/950968136546516?locale=es_LA">
                                    <div class="social">
                                        <img src="{% static 'img/s1.svg'%}" alt="">
                                    </div>
                                </a>
                                <a href="https://twitter.com/digitalesps93">
                                    <div class="social">
                                        <img src="{% static 'img/s2.svg'%}" alt="">
                                    </div>
                                </a>
                                <a href="https://www.instagram.com/juegosdigitalesbaratos.cl/">
                                    <div class="social">
                                        <img src="{% static 'img/s3.svg'%}" alt="">
                                    </div>
                                </a>
    
                            </div>
                        </div>
        
                    </div>
                </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="{% static 'js/js.js'%}"></script>
    </body>
    </html>
</body>
</html>