<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <title>Document</title>
</head>
<body>
    
    <h1>Carrito de Compras</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'alumnosAdd' %}"> agregar</a>
    </button>  

    <div id="idmensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if administrador%}
            <th class="th">Nombre</th>    
            <th class="th">Detalle</th>
            <th class="th">precio</th>
            <th class="th">Eliminar</th>
            <th class="th">Modificar</th>
            {% for x in administrador%}
                <tr>
                    <td>{{ x.Nombre}}</td>
                    <td>{{ x.Detalle}}</td>
                    <td>{{ x.Precio}}</td>
                    <td> <a href="{% url 'alumnos_del'  pk=x.Nombre %}">eliminar</a></td>
                    <td> <a href="{% url 'alumnos_findEdit' pk=x.Nombre %}">modificar</a></td>
                </tr>

            {% endfor %}
        {% endif %}
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
        $("#idMensaje").delay(2000).fadeOut("slow");
        })
    </script>


</body>
</html>