{%block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cssLogin.css' %}">
    <title>Document</title>
</head>
<body>

<div class="container" >
    {% if mensaje %}
    <div class="alert alert-primary" role="alert" id="idMensaje">
      
      {{mensaje}}
      
    </div>
    {%endif%}
    <h1>Registrarse</h1>
    <form action="" method="POST" style="height:300px;">
      
      {% csrf_token%}  
        <div class="form-group">
          <label for="usernombre">Username</label>
          <input type="text" class="form-control" style="margin-left: 23px;" id="usernombre" name="usernombre"  placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" class="form-control" style="margin-left: 23px;" id="last_name" name="last_name"  placeholder="Enter Last name">
        </div>
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" style="margin-left: 23px;" id="first_name" name="first_name"  placeholder="Enter First name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email"><br>
            <small id="emailHelp" class="form-text text-muted" style="margin-left: 140px; color: aliceblue;">*No compartiremos tu email.*</small>
          </div>
        <div class="form-group">
          <label for="password" >Password</label>
          <input type="password" class="form-control"  style="margin-left: 30px;" id="password" name="password" placeholder="Password">
        </div>
        <br>
        <section>
          <button type="submit" class="button-L" style="margin-left: 110px;" ><a href="{% url 'login' %}">guardar</a></button>
        </section>
        </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function(){
    $("#idMensaje").delay(2000).fadeOut("slow");
  })
</script>

</body>
</html>
{% endblock %}